h1{
    text-align: center;
}
h2{
    font-weight: bold;
}
form {
    display: inline-block;
    border-radius: 10px; 
    background-color:white; 
    margin-top: 3%; 
    padding: 3% 5% 4% 5%;
}
.container{
    text-align:center; 
    border-width: 1px;
}
.form-control{
    border-radius: 10px;
}

.btn{
    padding:1% 5% 1% 5%; 
    font-size: 15pt;
}