<!DOCTYPE  <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Bike Request Management</title>
    <!-- Bootstrap4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--request_management.js-->
    <script src="/JS/request_management.js"></script>
    <link rel="stylesheet" href="/CSS/manager.css">
   
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <!--HEREMAP-->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
</head>

<body style="background-color:white;">
    <div style="background-color:rgb(26, 119, 122); padding: 3%;">
        <h1 style="text-align:center; color:white;;"> SimpleBike Request Management</h1>
    </div>
    <div class="container" style="background-color:white; height: 100%;padding: 0;">

        <div class="dropdown" style="margin-bottom:1%; width: 10%;  padding:1%">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id="all" class="dropdown-item" href="#">All</a>
                <a id="isNotLocated" class="dropdown-item" href="#">Is Not Located</a>
                <a id="located" class="dropdown-item" href="#">Located</a>
                <a id="assigned" class="dropdown-item" href="#">Assigned</a>
                <a id="moving" class="dropdown-item" href="#">Moving</a>
                <a id="finish" class="dropdown-item" href="#">Finish</a>
                <a id="noBike" class="dropdown-item" href="#">No bike</a>
            </div>
        </div>
        <table class="table table-bordered table table-fixed table-active" id="requestTable">
            <thead>
                <tr>
                    <th scope="col" class="col10per">#</th>
                    <th scope="col" class="col15per">Name</th>
                    <th scope="col" class="col15per">Phone Number</th>
                    <th scope="col" class="col20per">Address</th>
                    <th scope="col" class="col10per">State</th>
                    <th scope="col" class="col15per">Booked Time</th>
                    <th scope="col" class="col10per">Guide</th>
                </tr>
            </thead>
            <tbody id="user_info">
            </tbody>
        </table>
        <div id="guide_info" class="row" style="border-width: 10px; border-color: chartreuse;">
            <div id="mapContainer" class="col-sm-6" >
            </div>
            <div class="col-sm-6">
                <div class="minidriver-header">
                    <h1>Driver info</h1>
                </div>
                <div class="minidriver-body">
                    <form>  
                        <table>
                            <tr>
                                <td class="minidriver-label">Name:</td>
                                <td class="minidriver-feild"><input type="text" id="name"  disabled></td>
                            </tr>
                            <tr>
                                <td class="minidriver-label">Phone:</td>
                                <td class="minidriver-feild"><input type="tel" id="phone" disabled></td>
                            </tr>
                            <tr>
                                <td class="minidriver-label">Location:</td>
                                <td class="minidriver-feild"><input type="text" id="location"  disabled></td>
                            </tr>
                            <tr>
                                <td class="minidriver-label">State:</td>
                                <td class="minidriver-feild"><input type="text" id="state"  disabled></td>
                            </tr>
                        </table>
                    </form>>
                </div>
            </div>
        </div>
    </div>
   
</body>

</html>
