<!DOCTYPE  <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Bike Request Management</title>
    <!-- Bootstrap4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--request_management.js-->
    <script src="../Public/JS/request_management.js"></script>
    <link rel="stylesheet" href="../Public/CSS/manager.css">
</head>

<body style="background-color:white;">
    <div style="background-color:rgb(26, 119, 122); padding: 3%;">
        <h1 style="text-align:center; color:white;;"> SimpleBike Request Management</h1>
    </div>
    <div class="container" style="background-color:white; height: 100%;padding: 0;">

        <div class="dropdown" style="margin-bottom:1%; width: 10%;  padding:1%">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">All</a>
                <a class="dropdown-item" href="#">Is Not Located</a>
                <a class="dropdown-item" href="#">Located</a>
                <a class="dropdown-item" href="#">Assigned</a>
                <a class="dropdown-item" href="#">Moving</a>
                <a class="dropdown-item" href="#">Finish</a>
            </div>
        </div>
        <table class="table table-bordered table table-fixed table-active" id="requestTable" >
            <thead>
                <tr>
                    <th scope="col" class="col10per">#</th>
                    <th scope="col" class="col15per">Name</th>
                    <th scope="col" class="col15per">Phone Number</th>
                    <th scope="col" class="col20per">Address</th>
                    <th scope="col" class="col10per">State</th>
                    <th scope="col" class="col15per">Booked Time</th>
                    <th scope="col" class="col10per">*</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
                <tr>
                    <td scope="row" class="col10per">1</td>
                    <td class="col15per">Mark</td>
                    <td class="col15per">Otto</td>
                    <td class="col20per">@mdo</td>
                    <td class="col10per">@mdo</td>
                    <td class="col15per">10:00</td>
                    <td class="col10per"> *  </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>






































































































































































































































































































































































